.root {
    width: "100%"
}

.backButton {
    margin-right: 10px;
}

.instructions {
    margin-top: 10px;
     margin-bottom: 10px;
}

.imgUp, .colorPicker {
    width: 50%;
    box-sizing: border-box;
}

.Step2 {
    display: flex;
}